{{#each session.friends}}
    {{#if this.check}}
        <a href="/message/{{this.messageRoomId}}" class="btn btn-info" id="room-{{this.messageRoomId}}">
            Chat with
        </a>
        <label for="room-{{this.messageRoomId}}">{{this.to.name}}</label>
        <br>
    {{/if}}
{{/each}}