<form class="form-horizontal col-xs-6 col-md-offset-3" method="post" enctype="multipart/form-data" >
    <h2 class = "col-md-offset-1">Add an item to your shop!</h2>
    <div class="form-group">
        <label for="inputName" class="control-label col-xs-2">Name</label>
        <div class="col-xs-8">
            <input name="name" type="text" class="form-control" id="inputName" placeholder="Your full name">
        </div>
    </div>
    <div class="form-group">
        <label for="inputDescription" class="control-label col-xs-2">Description</label>
        <div class="col-xs-8">
            <input name="description" type="text" class="form-control" id="inputDescription" placeholder="Description">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAmount" class="control-label col-xs-2">Amount</label>
        <div class="col-xs-8">
            <input name="amount" type="number" class="form-control" id="inputAmount" placeholder="Amount">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAvatar" class="control-label col-xs-2">Avatar</label>
        <div class="col-xs-8">
            <input name="avatar" type="file" class="form-control" id="inputAvatar">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-4 col-xs-10">
            <button type="submit" class="btn btn-success">Submit</button>
            <a class="btn btn-success" href="/">Back</a>
        </div>
    </div>
</form>