My Shop

<a href="/merchant/add">add item</a></li>

<div class="center">
    <h2>All item </h2>
</div>
<ul >
    {{#each items}}
    <li>
        <b>
            {{this.name}}
        </b>
    </li> 
    {{/each}}
</ul>


</script>