ALL shop


<div class="center">
    <h2>All Shop </h2>
</div>
<ul >
    {{#each merchants}}
<div style="display: inline-block;position:relative;"  class="col-md-4">
   <a href="/merchant/{{this.id}}"> <h1 style="position:relative;z-index:2;top:0px;">{{this.name}} Shop</h1></a>
   <a href="/merchant/{{this.id}}"> <img src="{{this.avatar}}" height="100" width="100" /></a>
</div>
    {{/each}}
</ul>


</script>