<h1> Post </h1>

<a href="/post/new"><button type="button" class="btn btn-primary btn-block" style="width: 100px"> New Post </button></a>

{{#each posts}}
    <a href="/post/{{this.id}}">{{this.title}}</a>
{{/each}}

<script>

</script>
