<h1>Title : {{post.title}}</h1>

<div class="line-separator" style="margin-bottom: 20px"></div>
<h4> Content </h4>
<p>
    {{post.content}}
</p>

<a href="/post/answer"><button type="button" class="btn btn-primary btn-block" style="width: 100px; margin-bottom: 20px"> New Answer </button></a>
