<h2 class="center">
    User page
</h2>
<form class="col-xs-6 col-xs-offset-3" method="post" enctype="multipart/form-data" onsubmit="return update()">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" name="email" value={{session.email}} readonly>
    </div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" value={{session.name}}>
    </div>
    <div class="form-group">
        <label for="pwd">New password:</label>
        <input id="pwd" type="password" class="form-control" name="newPassword" value="">
    </div>
    <div class="form-group">
        <label for="pwd">Current password:</label>
        <input id="oldPassword1" type="password" class="form-control" name="oldPassword1">
    </div>
    <div class="form-group">
        <label for="pwd">Confirm password:</label>
        <input id="oldPassword2" type="password" class="form-control" name="oldPassword2">
        <div id="error">

        </div>
    </div>
    <div class="form-group">
        <label for="inputAvatar">New Avatar:</label>
        <input name="avatar" type="file" id="inputAvatar">
    </div>
    <br>


    <div class="center">
        <button type="submit" class=" btn btn-info">Submit</button>
    </div>
    <div class="form-group center">
        <label ><h2>Premium end on:{{premium}}</h2></label> <br>
        <a href="/user/premium" class="btn btn-success">Add 30 days</a>
    </div>
</form>

<br>
<script>
    function update() {
        if($("#oldPassword1").val() !== $("#oldPassword2").val()){
            $("#error").text("comfirm password and password don't match");
            console.log("ok")
            return false
        }
        return true
    }
</script>